# Ignore compiled binaries
sysmon
*.o
*.out
*.exe
*.log

# Ignore backup or temp files
*.swp
*.swo
*.bak
*.tmp

# Ignore build artifacts
/bin/
/build/

# Ignore logs
/logs/

# Ignore environment files
.env
*.env

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore system files
.DS_Store